@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* VARIABLES GLOBALES */
:root {
    --color-primaria: #030f2c;    /* Azul oscuro principal */
    --color-secundaria: #ffffff;   /* Blanco */
    --color-terciaria: #d7021b;    /* Rojo corporativo */
    --color-hover: #f4001d;        /* Rojo más claro para efectos hover */
    --fuente-krona: 'Krona One', sans-serif;       /* Para títulos */
    --fuente-montserrat: 'Montserrat', sans-serif; /* Para texto normal */
}      
      
      
.cv-card-container{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .cv-card {
            position: relative;
            duration: 500ms;
            transition: transform 0.5s ease;
            transform: rotate3d(1, -1, 1, 60deg);
            border: 4px solid #ffffff;
            border-radius: 1rem;
            overflow: hidden;
            height: 384px;
            width: 256px;
            background-color: transparent;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
        
        .cv-card:hover {
            transform: rotate3d(0, 0, 0, 0deg);
        }
        
        .cv-card-header {
            color: #f9fafb;
        }
        
        .cv-card-header span {
            font-weight: bold;
            font-size: 3rem;
        }
        
        .cv-card-header p {
            font-size: 0.75rem;
        }
        
        .cv-download-btn {
            transition: all 0.3s ease;
            border: 1px solid;
            background-color: #ffffff;
            font-weight: 600;
            color: #030f2c;
            padding: 0.5rem 0.75rem;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            text-decoration: none;
            border-radius: 4px;
        }
        
        .cv-download-btn:hover {
            background-color: #030f2c;
            color: #f9fafb;
        }
        
        .cv-download-icon {
            width: 1.5rem;
            height: 1.5rem;
            fill: currentColor;
        }
        
        .cv-card-bg-icon {
            position: absolute;
            bottom: -0.125rem;
            right: -5rem;
            width: 12rem;
            height: 12rem;
            z-index: 10;
            margin: -0.5rem;
            fill: #f9fafb;
            stroke: #2f3e69;
            transition: transform 0.5s ease;
        }
        
        .cv-card:hover .cv-card-bg-icon {
            transform: scale(1.25);
        }
        
        .cv-card-bg-icon-2 {
            position: absolute;
            bottom: -0.125rem;
            right: -5rem;
            width: 12rem;
            height: 12rem;
            z-index: 10;
            margin: -0.5rem;
            fill: #f9fafb;
            stroke: #152243;
            stroke-width: 2;
            transition: transform 0.2s ease;
        }
        
        .cv-card:hover .cv-card-bg-icon-2 {
            transform: scale(1.25);
        }
        
        /* Responsive para la tarjeta */
        @media (max-width: 768px) {
            .cv-card {
                width: 200px;
                height: 300px;
                padding: 1rem;
            }
            
            .cv-card-header span {
                font-size: 2.5rem;
            }
        }